#home-banner {
  background: linear-gradient(rgba(14, 14, 14, 0.3), rgba(0, 0, 0, 0.2)), image-url("cabbage_2.png") 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

#home-banner-title {
  text-align: center;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.new_lead {
  background-color: white;
  border-radius: 5px;
  display: flex;
  color: black;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.address-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#lead_address {
  height:1rem;
  border-bottom: none;
}

#home-form-address {
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#home-form-submit {
  width: 41%;
  height: 53px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
}

#home-form-submit > input[type="submit"] {
  background-color: $primary-color;
  border: none;
  color: white;
  width:100%;
}

#home-email-form > input[type=text] {
  border-bottom: none;
  height: 100%;
  margin: none;
}

#explanation-banner {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: whitesmoke;
}

.explanation-container {
  width: 80%;
  margin-top: 40px;
}

.explanation-box {
  background-color: white;
  border: 1px solid $primary-color;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height:350px;
  margin-bottom: 20px;
}

.icon-box {
  margin: 0 auto;
  width: 65px;
}

.explanation-box-title {
  text-align: center;
}

.homepage-icons {
  color: $primary-color;
}

.home-arrow{
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 160px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 300ms;
  &:hover {
    background-color: white;
    transition-duration: 300ms;
    transition-property: background-color;
    #icon-arrow {
      color: black;
    }
  }
}

#team-banner {
  background-color: $secondary-color;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

#project-banner{
  padding-top: 20px;

}
