#project-banner {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: whitesmoke;
}

.project-container {
  width: 80%;
  margin-top: 40px;
}

.project-box {
  background-color: white;
  border: 1px solid $primary-color;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height:350px;
  margin-bottom: 20px;
}

.project-box-title {
  text-align: center;
}
