<div class="email-body">
  <h1 class="center">Merci de votre confiance!</h1>

  <p>C'est avec grand plaisir que nous vous confirmons la réception de votre demande de sourcing:</p>

  <ul>
    <li><%= @sourcing.produit %></li>
    <li><%= @sourcing.exigence %></li>
  </ul>

  <p>Nous vous enverrons sous 2 jours les coordonnées de 5 producteurs indépendants au savoir-faire exceptionnel à l'adresse mail suivante: <%= @sourcing.email %></p>

  <p>Toute l'équipe Chou Blanc reste à votre disposition pour toute information complémentaire</p>
</div>







