<div class="email-body">
  <h1 class="center">Nouvelle demande de sourcing</h1>


  <ul>
    <li><%= @sourcing.produit %></li>
    <li><%= @sourcing.exigence %></li>
    <li><%= @sourcing.email %></li>
  </ul>

  <p>Bisous</p>
</div>