<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">En savoir plus</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">L'Equipe</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Le Projet</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">La Livraison</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright
      <div class="social-networks">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</footer>