<nav id="home-navbar">
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo center" id="logo-circle">
      <%= image_tag 'logo_3.png', alt:"logo", id:"logo" %>
    </a>
    <ul class="right home-navbar-mobile">
      <li><a href="#project-banner" class="home-navbar-links">Projet</a></li>
      <li><a href="#team-banner" class="home-navbar-links">L'Équipe</a></li>
    </ul>
  </div>
</nav>