<div id="landing-navbar">
  <nav id="landing-navbar">
    <div class="nav-wrapper">
      <div class="brand-logo center">
        <%= image_tag 'logo_blanc.png', id:"landing_logo" %>
      </div>
      <ul class="right home-navbar-mobile">
        <li><a href="#charte-banner">Nos Valeurs</a></li>
        <li><a href="#team-banner">L'Équipe</a></li>
      </ul>
    </div>
  </nav>
  <hr class="landing-navbar-line">
  <div class="landing-navbar-title">
    <h5>Le lien direct entre restaurateurs et producteurs indépendants</h5>
  </div>
</div>