<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">search</i>Rechercher</a></li>
      <li><a href="#"><i class="material-icons right">view_module</i>Produits</a></li>
    </ul>
  </div>
</nav>