<form action="<%= products_path %>" method="get">
  <div class="search-wrapper">
    <div class="search-box">
      <input type="textarea" name="query" id="query" class="search-term" placeholder="Trouver le produit qu'il vous faut!">
      <button type="submit" class="search-button">
        <i class="material-icons" style="margin-top: 8px;">search</i>
      </button>
    </div>
  </div>
</form>