<div id="charte-banner">
  <div class="charte-banner-title">
    <hr class="charte-line" style="width: 10%;">
    <h3>Nos Valeurs</h3>
    <hr class="charte-line">
  </div>
  <div class="charte-main">
    <div class="row">
      <div class="col m2 s8 offset-s2 offset-m1">
        <div class="charte-bubble">
          <div class="charte-bubble-title">
            <%= image_tag 'quality.png', id:"quality-logo" %>
            <h6>Qualité et Transparence</h6>
          </div>
        </div>
      </div>
      <div class="col m2 s8 offset-s2">
        <div class="charte-bubble">
          <div class="charte-bubble-title">
            <%= image_tag 'relation.png', id:"relation-logo" %>
            <h6>Partenariat avec les Producteurs</h6>
          </div>
        </div>
      </div>
      <div class="col m2 s8 offset-s2">
        <div class="charte-bubble">
          <div class="charte-bubble-title">
            <%= image_tag 'environment.png', id:"environment-logo" %>
            <h6>Préservation de l'environnement</h6>
          </div>
        </div>
      </div>
      <div class="col m2 s8 offset-s2 offset-m1">
        <h5 class="center">En savoir plus sur notre charte?</h5>
        <div class="btn">
          Téléchargez
        </div>
      </div>
    </div>
  </div>
</div>