<div id="project-banner">
  <h3 class="center">Le Projet</h3>
  <div class="container project-container">
    <div class="row">
      <div class="col s10 offset-s1 m6 l3">
        <div class="project-box">
          <div class="icon-box">
            <%= image_tag 'delivery-truck.png', style:"width:65px;", alt: "delivery"%>
          </div>
          <div class="project-box-title">
            <h4>Rapidité</h4>
            <p>Nous vous garantissons une livraison pratique, à domicile ou en point relais, toutes les semaines.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="project-box">
          <div class="icon-box">
            <%= image_tag 'stopwatch.png', style:"width:65px;", alt: "simplicity"%>
          </div>
          <div class="project-box-title">
            <h4>Simplicité</h4>
            <p>Une interface rapide et intuitive vous permettant de faire vos courses en moins de 3 minutes.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="project-box">
          <div class="icon-box">
            <%= image_tag 'coins.png', style:"width:65px;", alt: "Price"%>
          </div>
          <div class="project-box-title">
            <h4>Qualité</h4>
            <p>Une sélection de produits, permettant des achats groupés et des prix abordables.</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 l3">
        <div class="project-box">
          <div class="icon-box">
            <%= image_tag 'cart.png', style:"width:65px;", alt: "selection"%>
          </div>
          <div class="project-box-title">
            <h4>Diversité</h4>
            <p>Les meilleurs produits auprès des meilleurs fournisseurs, pour vous offrir qualité et transparence.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>