<div class="container">
  <div class="row">
    <div class="col l8 offset-l2 m8 offset-m2 s12 ">
      <div class="form-container">
        <div class="form-header">
          <h4>Créer une liste d'achat</h4>
        </div>
        <div class="form-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>