.form-container {
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
}

.form-header {
  background-color: $secondary-color;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  h4 {
    font-size: 1.92rem;
    line-height: 100%;
    margin: 1.46rem 0 1.168rem 0;
  }
}

.form-sub-header {
  display: flex;
  justify-content: center;
}

.form-body {
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.form-title {
  position: absolute;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.form-line {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -4px;
  margin-top: -4px;
}