// External libraries
@import "materialize/extras/nouislider";
@import "materialize/components/color";
$primary-color: #27AE60 !default;
$dark-green: #019875 !default;
$dark-blue: #2C3E50 !default;
$orange: #E67E22 !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// HTML Elements
