// External libraries
@import "materialize/extras/nouislider";
@import "materialize/components/color";
$primary-color: #27AE60 !default; // light-green
$secondary-color: #019875 !default; // dark green
$dark-blue: #2C3E50 !default;
$orange: #E67E22 !default;
@import "materialize";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "products";
@import "producers";

// HTML Elements
body {
  font-family: Montserrat, 'open-sans';
}

//Toast
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 85%;
  left: 80%;
  width: 250px;
}

.success-color {
  background-color: #27AE60;
  color: white;
}

.alert-color {
  background-color: #E67E22;
  color: white;
}

// Form
select {
  display: block;
}