.products-index-container {
  width: 90%;
  margin-top: 20px;
}

.product-producer-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-producer-title > a {
  color: #E67E22 !important;
}

.product-wrapper-image {
  height: 200px;
  -webkit-background-size: cover;
  background-size: cover;
}

.product-detail-wrapper {
  display: flex;
  align-items: center;
}

.product-producer-detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.product-informaton-container{
  padding: 15px;
}

.product-price {
  color: #E67E22;
  font-size: 30px;
}

.product-price-per-kg {
  font-style: italic;
  font-size: 12px;
}
