.purchase-container {
  margin-top: 20px;
  width: 90%;
}

.purchase-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchase-btn-delete {
  cursor: pointer;
  color: #E67E22;
}