<div class="container">
  <div class="row">
    <% @products.each do |product| %>
        <div class="col s12 m4 l3">
          <%= render 'product_card', product: product %>
        </div>
    <% end %>
  </div>
</div>